_site/*
_theme_packages/*
.idea/*

assets/img/portfolio/._*
fav/book/safari/the-plum-in-the-golden-vase/*
fav/book/safari/md/*
md/Github.md

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
*.DS_Store
._*
