
.imgepub {
	max-width: 100%;
}

.end  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.rightAligned {
   text-align: right;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.leftAligned {
   text-align: left;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.centerAligned {
   text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.tit  {
font-size: x-large;
text-align: center;
font-weight: bold;
}

.stit  {
font-size: large;
text-align: center;
}

.au  {
font-size: medium;
text-align: center;
}

.con  {
font-size: medium;
text-align: center;
}

.htit  {
font-size: large;
text-align: center;
font-weight: bold;
}

.imp  {
font-size: small;
text-align: center;
}

.ded  {
font-size: small;
text-align: center;
font-style: italic;
}

.dedau  {
font-size: x-small;
text-align: right;
margin-right: 1em;
}

.ser  {
font-size: medium;
text-align: center;
}

.rl  {
font-size: small;
text-align: center;
font-style: italic;
}

.tran  {
font-size: small;
text-align: center;
}

.pub  {
font-size: small;
text-align: center;
}

.cit  {
font-size: x-small;
text-align: center;
}

.epi
  {
display: block;
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.eps  {
font-size: small;
text-align: right;
font-style: italic;
margin-bottom: 2em;
margin-right: 2em;
}

.epiv  {
display: block;
font-size: x-small;
text-align: justify;
margin-left: 8px;
margin-right: 2em;
margin-top: 2em;
}

.epivc  {
display: block;
font-size: x-small;
text-align: center;
margin-left: 8em;
margin-right: 2em;
}

.pn  {
font-size: large;
text-align: center;
}

.pt  {
font-size: x-large;
text-align: center;
}

.pst  {
font-size: large;
text-align: center;
}

.pepi  {
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.peps  {
font-size: x-small;
text-align: right;
font-style: italic;
margin-bottom: 2em;
margin-right: 2em;
}

.pepiv  {
display: block;
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.pepivc  {
display: block;
font-size: x-small;
text-align: center;
margin-left: 8em;
margin-right: 2em;
}

.potx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.potx1  {
font-size: small;
text-align: justify;
}

.cn  {
font-size: medium;
text-align: center;
margin-bottom: 2em;
}






























.ct  {
font-size: large;
text-align: center;
margin-bottom: 2em;
margin-top: 0.5em;
}

.cst  {
font-size: medium;
text-align: center;
margin-bottom: 2em;
margin-top: 0.5em;
}

.ctBT-T  {
font-size: medium;
text-align: center;
margin-bottom: 1em;
margin-top: 0.5em;
}

.cstBT-T  {
font-size: small;
text-align: center;
margin-bottom: 1em;
}

.ca  {
font-size: medium;
text-align: center;
font-style: italic;
}

.da  {
font-size: small;
text-align: right;
font-style: italic;
margin-right: 1em;
}

.cepi  {
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.ceps  {
font-size: x-small;
text-align: right;
font-style: italic;
margin-right: 2em;
margin-bottom: 2em;
}

.cepiv  {
display: block;
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
margin-top: 2em;
}

.cepivc  {
display: block;
font-size: x-small;
text-align: center;
margin-left: 8em;
margin-right: 2em;
}

.cotx  {
display: block;
font-size: small;
text-align: justify;
text-indent: 1em;
}

.cotx1  {
display: block;
font-size: small;
text-align: justify;
}


.tx  {
font-size: small;
text-align: justify;
text-indent: 2em;
line-height: 24px;
font-family:Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
}

.tx1  {
font-size: small;
text-align: justify;
text-indent: 2em;
line-height: 24px;
font-family:Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
}

.chabox  {
font-size: small;
text-align: left;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.chaboxg  {
font-size: small;
text-align: left;
background-color: #DDDDDD;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.atx  {
font-size: small;
text-align: left;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.atx1  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.atxg  {
font-size: small;
text-align: left;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

.atx1g  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}



































.com  {
font-family: monospace;
font-size: x-small;
text-align: left;
text-indent: 1em;
}

.com1  {
font-family: monospace;
font-size: x-small;
text-align: left;
}

.nar  {
font-size: small;
text-align: justify;
text-indent: 1em;
font-style: italic;
}

.nar1  {
font-size: small;
text-align: justify;
font-style: italic;
}

.dia  {
font-size: small;
text-align : justify;
margin-left: 2em;
text-indent: -1em;
}

.fn  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.fntag  {
font-size: small;
}

.sda  {
font-size: x-small;
text-align: right;
}

.sloc  {
font-size: x-small;
text-align: right;
}


.ls1  {
display: block;
margin-bottom: 1em;
}

.ls2  {
display: block;
margin-bottom: 2em;
}

.ls3  {
display: block;
margin-bottom: 3em;
}

.orn  {
display: block;
margin-bottom: 1em;
}

.cb  {
 page-break-before: always;
}

.pb  {
 page-break-before: always;
}


.afmtx  {
font-size: small;
text-align: left;
text-indent: 2em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.afmtx1  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.afmtxg  {
font-size: small;
text-align: left;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

.afmtx1g  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

.fmh  {
font-size: large;
text-align: center;
}

.fmsh  {
font-size: medium;
text-align: center;
}

.fmtxg  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.fmtx1g  {
font-size: small;
text-align: justify;
text-indent: 0em;
}

.fmhbox  {
font-size: small;
text-align: left;
text-indent: 1em;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.fmhboxg  {
font-size: small;
text-align: left;
text-indent: 1em;
background-color: #DDDDDD;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;   
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.fmtx  {
font-size: small;
text-align: justify;
text-indent: 2em;
line-height: 24px;
font-family:Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
}

.fmtx1  {
font-size: small;
text-align: justify;
text-indent: 2em;
line-height: 24px;
font-family:Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
}

.fmhBT-T  {
font-size: large;
text-align: center;
margin-bottom: 1em;
margin-top: 0.5em;
}

.fmshBT-T  {
font-size: medium;
text-align: center;
margin-bottom: 1em;
}

.fmhT  {
font-size: large;
text-align: center;
margin-bottom: 2em;
margin-top: 0.5em;
}

.fmshT  {
font-size: medium;
text-align: center;
margin-bottom: 2em;
}

.fmah  {
font-size: medium; 
font-style: italic; 
text-align: center;
}

.fmh1  {
font-size: medium;
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.fmh2  {
font-size: medium; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.fmh3  {
font-size: medium; 
font-style: italic;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.fmh4  {
font-size: small;
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.fmh5  {
font-size: small; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.fmh6  {
font-size: small; 
font-style: italic;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.afmh  {
font-size: medium;
text-align: center;
font-style: italic;
}



.fmepi  {
display: block;
font-size: x-small;
text-align: justify;
text-indent: 1em;
margin-left: 8em;
margin-right: 2em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.fmepiv  {
display: block;
font-size: x-small;
text-align: justify;
text-indent: 1em;
margin-left: 8em;
margin-right: 2em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.fmepivc  {
display: block;
font-size: x-small;
text-align: center;
text-indent: 1em;
margin-left: 8em;
margin-right: 2em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.fmeps  {
font-size: small; 
font-style: italic;
text-align: right;
margin-right: 2em;
margin-bottom: 12em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}



















.h1  {
font-size: medium; 
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1.5em;
}

.h2  {
font-size: small; 
text-align: center;
margin-top: 2em;
margin-bottom: 1.5em;
}

.h3  {
font-size: medium; 
font-style: italic; 
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.h4  {
font-size: small;
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.h5  {
font-size: small; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.h6  {
font-size: small; 
font-style: italic;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.volt  {
font-size: x-large;
text-align: center;
}

.bkt  {
font-size: x-large;
text-align: center;
}

.tda {
font-size: small; 
font-style: italic;
text-align: right;
margin-right: 2em;
}


.ext  {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.exh  {
font-size: small;
text-align: left;
margin-top: 1em;
}

.extv  {
font-size: x-small;
text-align: left;
margin-left: 1em;
margin-right: 1em;
}

.extvc  {
font-size: x-small;
text-align: center;
}

.extsl  {
display: block;
font-size: x-small;
text-align: left;
text-indent: 2em;
margin-left: 2em;
margin-right: 2em;
}


.exthl  {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.extws  {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.ins {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.tel  {
font-size: x-small;
text-align: justify;
font-family: monospace;
margin-left: 1em;
margin-right: 1em;
}

.tepi  {
font-size: small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
margin-top: 1em;
margin-bottom: 1em;
}

.teps  {
font-size: small;
text-align: right;
font-style: italic;
margin-right: 2em;
margin-bottom: 1em;
}

.tepiv  {
display: block;
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.tepivc  {
display: block;
font-size: x-small;
text-align: center;
}

.extl  {
font-size: x-small;
text-align: justify;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
}

.lda  {
font-size: x-small;
text-align: right;
text-indent: 1em;
font-style: italic;
}

.lps  {
font-size: x-small;
text-align: justify;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
}

.lsa  {
font-size: x-small;
text-align: right;
text-indent: 1em;
}

.lsg  {
font-size: x-small;
text-align: right;
text-indent: 1em;
}

.ltx  {
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
}

.ladd  {
font-size: x-small;
text-align: right;
text-indent: 1em;
}

.sp {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.sph  {
font-size: large;
text-align: center;
}

.sphs  {
font-size: medium;
text-align: center;
}

.sd  {
font-size: small;
text-align: justify;
font-style: italic;
text-indent: 1em;
}

.spk  {
font-size: small;
text-align: center;
margin-top: 1em;
}

.dp  {
font-size: small;
margin-left: 1em;
}

.lh  {
font-size: small;
margin-left: 1em;
margin-top: 1em;
font-style: italic;
}

.nl  {
font-size: small;
margin-left: 1em;
}

.nsl  {
font-size: small;
margin-left: 2em;
}

.al  {
font-size: small;
margin-left: 1em;
}

.asl  {
font-size: small;
margin-left: 2em;
}

.np  {
font-size: small;
text-indent: 1em;
margin-left: 1em;
}

.bl  {
font-size: small;
margin-left: 1em;
}

.bsl  {
font-size: small;
margin-left: 2em;
}

.bp  {
font-size: small;
text-indent: 1em;
margin-left: 1em;
}

.ul  {
font-size: small;
margin-left: 1em;
}

.ck  {
font-size: small;
margin-left: 1em;
}

.box {
 border: solid;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.boxg  {
 border: solid;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 background-color: #DDDDDD;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.boxCRT {
 border: solid;
 font-size: x-small;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 padding: 1em;
 margin-bottom: 1em;
}

.boxCRTg  {
 border: solid;
 font-size: x-small;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 background-color: #DDDDDD;
 border-width: 1;
 padding: 1em;
 margin-bottom: 1em;
}

.btx  {
font-size: small;
text-indent: 1em;
margin-left: 1em;
}

.btx1  {
font-size: small;
margin-left: 1em;
}

.bh  {
font-size: medium;
text-align: center;
}

.bsh  {
font-size: small;
text-align: center;
}

.bh1  {
font-size: medium; 
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.bh2  {
font-size: medium; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.bh3  {
font-size: medium; 
font-style: italic; 
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.bh4  {
font-size: small;
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.bh5  {
font-size: small; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.bh6  {
font-size: small; 
font-style: italic;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.bepi  {
font-size: small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.bepiv  {
font-size: small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.bepivc  {
font-size: small;
text-align: center;
}

.beps  {
font-size: small;
text-align: right;
font-style: italic;
margin-right: 1em;
margin-bottom: 1em;
}

.bnl  {
font-size: small;
margin-left: 1em;
}

.bbl  {
font-size: small;
margin-left: 1em;
}

.bul  {
font-size: small;
margin-left: 1em;
}

.bext  {
font-size: x-small;
text-align: justify;
margin-left: 1em;
margin-right: 1em;
text-indent: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.bextv  {
font-size: x-small;
text-align: left;
margin-left: 2em;
}

.bsn  {
font-size: xx-small;
text-align: justify;
margin-top: 1em;
}

.bfn  {
font-size: xx-small;
text-align: justify;
margin-top: 1em;
}

.sbtx  {
font-size: small;
text-indent: 1em;
margin-left: 1em;
}

.sbtx1  {
font-size: small;
margin-left: 1em;
}

.sbh  {
font-size: medium;
text-align: center;
}

.sbsh  {
font-size: small;
text-align: center;
}

.sbh1  {
font-size: medium; 
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.sbh2  {
font-size: medium; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.sbh3  {
font-size: medium; 
font-style: italic; 
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.sbh4  {
font-size: small;
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.sbh5  {
font-size: small; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.sbh6  {
font-size: small; 
font-style: italic;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.sbepi  {
font-size: small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.sbepiv  {
font-size: small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.sbepivc  {
font-size: small;
text-align: center;
}

.sbeps  {
font-size: small;
text-align: right;
font-style: italic;
margin-right: 2em;
margin-bottom: 1em;
}

.sbnl  {
font-size: small;
margin-left: 1em;
}

.sbbl  {
font-size: small;
margin-left: 1em;
}

.sbul  {
font-size: small;
margin-left: 1em;
}

.sbext  {
font-size: x-small;
text-align: justify;
margin-left: 2em;
margin-right: 2em;
}

.sbextv  {
font-size: xx-small;
text-align: justify;
}

.sbfn  {
font-size: xx-small;
text-indent: 1em;
text-align: justify;
margin-left: 1em;
margin-top: 1em;
border: medium;
}

.sbsn  {
font-size: xx-small;
text-indent: 1em;
text-align: justify;
margin-left: 1em;
margin-top: 1em;
border: medium;
}

.xref  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.cap  {
font-size: x-small;
font-style: italic;
text-align: left;
margin-top: 1em;
margin-bottom: 1em;
}

.is  {
font-size: xx-small;
text-align: right;
font-style: italic;
}

.ilc {
font-size: x-small;
text-align: justify;
text-indent: 1em;
}

.ilc1 {
font-size: x-small;
text-align: justify;
}

.perm {
font-size: x-small;
text-align: justify;
text-indent: 1em;
}

.perm1 {
font-size: x-small;
text-align: justify;
}
















.aph  {
font-size: large;
text-align: center;
}

.aphT  {
font-size: large;
text-align: center;
margin-bottom: 2em;
margin-top: 0.5em;
}

.aphBT-T  {
font-size: large;
text-align: center;
margin-bottom: 1em;
margin-top: 0.5em;
}

.apsh  {
font-size: medium;
text-align: center;
}

.apshT  {
font-size: medium;
text-align: center;
margin-bottom: 2em;
}

.apshBT-T  {
font-size: medium;
text-align: center;
margin-bottom: 1em;
}

.apt  {
font-size: small;
text-align: left;
}

.aptxbox  {
font-size: small;
text-align: left;
text-indent: 1em;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.aptxboxg  {
font-size: small;
text-align: left;
text-indent: 1em;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 background-color: #DDDDDD;
 padding: 1em;
 margin-bottom: 1em;
}   

.aptx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.aptx1  {
font-size: small;
text-align: justify;
text-indent: 0em;
}

.aptxg  {
font-size: small;
text-align: justify;
text-indent: 1em;
background-color: #DDDDDD;
}

.aptxg1  {
font-size: small;
text-align: justify;
background-color: #DDDDDD;
}

.aph1  {
font-size: medium; 
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.aph2  {
font-size: medium; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.aph3  {
font-size: medium; 
font-style: italic; 
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.aph4  {
font-size: small;
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.aph5  {
font-size: small; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.aph6  {
font-size: small; 
font-style: italic;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}






















.apnl  {
font-size: small;
text-align: left;
text-indent: 1em;
}

.apul  {
font-size: small;
text-align: left;
text-indent: 1em;
}

.apbl  {
font-size: small;
text-align: left;
text-indent: 1em;
}

.apfn  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.apsn  {
font-size: small;
text-align: justify;
text-indent: 1em;
}
  




















.teaT  {
font-size: medium;
text-align: center;
margin-bottom: 2.5em;
}

.teasT  {
font-size: medium;
text-align: center;
margin-bottom: 2.5em;
}




.bmh  {
font-size: large;
text-align: center;
}

.bmsh  {
font-size: medium;
text-align: center;
}

.bmhBT-T  {
font-size: large;
text-align: center;
margin-bottom: 1em;
margin-top: 0.5em;
}

.bmshBT-T  {
font-size: large;
text-align: center;
margin-bottom: 1em;
}

.bmhT  {
font-size: medium;
text-align: center;
margin-bottom: 2em;
margin-top: 0.5em;
}

.bmshT  {
font-size: medium;
text-align: center;
margin-bottom: 2em;
}

.bmtx  {
display: block;
font-size: small;
text-align: justify;
text-indent: 1em;
}

.bmhbox  {
display: block;
font-size: small;
text-align: left;
text-indent: 1em;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.bmhboxg  {
display: block;
font-size: small;
text-align: left;
text-indent: 1em;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 background-color: #DDDDDD;
 padding: 1em;
 margin-bottom: 1em;
}

.bmtx1  {
display: block;
font-size: small;
text-align: justify;
text-indent: 0em;
}

.bmtxg  {
display: block;
font-size: small;
text-align: justify;
text-indent: 1em;
}

.bmtx1g  {
display: block;
font-size: small;
text-align: justify;
}

.abmh  {
font-size: medium;
text-align: center;
font-style: italic;
}

.abmtx  {
font-size: small;
text-align: left;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.abmtx1  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.abmtxg  {
font-size: small;
text-align: left;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

.abmtx1g  {
font-size: small;
text-align: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

























.ata  {
font-size: small;
text-align: left;
margin-left: 1em;
}

.glt  {
font-size: small;
text-align: left;
margin-right: 1em;
font-weight: bold;
}

.gltx  {
font-size: small;
text-align: left;
margin-left: 1em;
}

.add  {
font-size: small;
text-align: left;
}

.ntx  {
font-size: x-small;
text-align: justify;
margin-left: 1em;
}

.kp  {
font-size: x-small;
text-align: justify;
margin-left: 1em;
}

.n1  {
font-size: small;
text-align: center;
font-weight: bold;
}

.n2  {
font-size: small;
text-align: center;
font-style: italic;
}

.n3  {
font-size: small;
text-align: left;
}

.bibtx  {
font-size: x-small;
text-align: justify;
margin-left: 1em;
}

.b1  {
font-size: small;
text-align: center;
font-weight: bold;
}

.b2  {
font-size: small;
text-align: center;
font-style: italic;
}

.b3  {
font-size: small;
text-align: left;
}

.intx  {
font-size: x-small;
text-align: justify;
margin-left: 1em;
}

.in1  {
font-size: small;
text-align: center;
font-weight: bold; 
margin-top: 2em;
margin-bottom: 1em;
}

.ine  {
font-size: x-small;
text-align: left;
margin-left: 2em;
text-indent: -1em;
}

.inse  {
font-size: x-small;
text-align: left;
margin-left: 3em;
margin-left: -1em;
}

.insse  {
font-size: xx-small;
text-align: left;
margin-left: 4em;
margin-left: -1em;
}

.acmh  {
font-size: small;
text-align: center;
margin-bottom: 1em;
}

.acsh  {
font-size: x-small;
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.acl  {
font-size: x-small;
text-align: center;
font-style: italic;
}

.bobt  {
font-size: large;
text-align: center;
}

.bobst  {
font-size: medium;
text-align: center;
}

.bobh1  {
font-size: medium; 
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.bobh2  {
font-size: medium; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.bobh3  {
font-size: medium; 
font-style: italic; 
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.bobtx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.bobtx1  {
font-size: small;
text-align: justify;
}

.bobqh  {
font-size: medium;
text-align: center;
}

.bobq {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.bobq1 {
display: block;
font-size: x-small;
text-align: left;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.bobqs {
font-size: small;
text-align: right;
font-style: italic;
margin-right: 2em;
margin-bottom: 1em;
}













.crtT  {
font-size: small;
text-align: center;
margin-bottom: 2em;
margin-top: 0.5em;
}  

.crtBT-T  {
font-size: small;
text-align: center;
margin-bottom: 1em;
margin-top: 0.5em;
}  

.crtST  {
font-size: x-small;
text-align: center;
margin-bottom: 2em;
}  

.crtBT-ST  {
font-size: x-small;
text-align: center;
margin-bottom: 1em;
}

.crt  {
font-size: x-small;
text-align: center;
}

.crtg  {
font-size: x-small;
text-align: center;
background-color: #DDDDDD;
}

.crt1  {
font-size: x-small;
text-align: center;
}

.crt1g  {
font-size: x-small;
text-align: center;
background-color: #DDDDDD;
}


.acrt  {
font-size: small;
text-align: center;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.acrt1  {
font-size: small;
text-align: center;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
}

.acrtg  {
font-size: small;
text-align: center;
text-indent: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

.acrt1g  {
font-size: small;
text-align: center;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 3em;
background-color: #DDDDDD;
}

.crtbox  {
font-size: x-small;
text-align: center;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}

.crtboxg  {
font-size: x-small;
text-align: center;
background-color: #DDDDDD;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
 border-width: 1;
 border: solid;
 padding: 1em;
 margin-bottom: 1em;
}










.cfmh  {
font-size: small;
text-align: left;
font-style: italic;
}

.cpn  {
font-size: medium;
text-align: left;
margin-top: 1em;
}

.cpt  {
font-size: medium;
text-align: left;
margin-bottom: 2em;
}

.ccn  {
font-size: small;
text-align: left;
margin-bottom: 2em;
}

.cct  {
font-size: small;
text-align: left;
}

.ch1  {
font-size: small;
text-align: left;
margin-left: 1em;
text-indent: 1em;
}

.cbmh  {
font-size: small;
text-align: left;
font-style: italic;
}

.vt  {
font-size: medium;
text-align: center;
margin-bottom: 1em;
}

.vst  {
font-size: medium;
text-align: center;
}

.vepi  {
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.vepiv  {
font-size: x-small;
text-align: justify;
margin-left: 8em;
margin-right: 2em;
}

.vepivc  {
font-size: x-small;
text-align: center;
}

.veps  {
font-size: x-small;
text-align: right;
font-style: italic;
margin-right: 2em;
margin-bottom: 1em;
}

.vda  {
font-size: x-small;
text-align: right;
font-style: italic;
}

.vded  {
font-size: x-small;
text-align: center;
font-style: italic;
}


.vhn  {
font-size: small;
text-align: left;
font-weight: bold;
}

.vh1  {
font-size: small;
text-align: center;
font-weight: bold;
}

.vh2  {
font-size: small;
text-align: center;
}

.vh3  {
font-size: small;
text-align: center;
font-style: italic;
}

.vtx  {
font-size: small;
text-align: left;
margin-left: 2em;
}

.vtxc  {
font-size: small;
text-align: center;
margin-left: 2em;
}

.vrtx  {
font-size: small;
text-align: justify;
}

.ausig  {
font-size: small;
text-align: right;
font-style: italic; 
margin-right: 1em;
}

.menu  {
font-size: small;
text-align: center;
font-style: italic; 
}

.cc  {
font-size: small;
text-align: left;
}

.srhn  {
font-size: small;
text-align: justify;
text-indent:  1em;
}
.rh  {
font-size: medium;
text-align: center;
font-style: italic; 
}

.rsh  {
font-size: medium;
text-align: center; 
}

.rhn  {
font-size: small;
text-align: justify;
text-indent:  1em;
}

.rih  {
font-size: small;
text-align: left;
font-style: italic; 
}

.ri  {
font-size: small;
text-align: left;
text-indent: -2em;
margin-left: 2em;
}

.rp  {
font-size: small;
text-align: justify;
text-indent: 1em; 
}

.ry  {
font-size: small;
text-align: right;
}

.srh  {
font-size: medium;
text-align: center; 
}

.srsh  {
font-size: small;
text-align: center;
font-weight: bold;
}

.srsh1  {
font-size: medium;
text-align: center;
}

.srsh2  {
font-size: medium;
text-align: left;
font-style: italic;
}

.srih  {
font-size: small;
text-align: left;
font-style: italic;
}

.sri  {
font-size: small;
text-align: left;
text-indent: -2em;
margin-left: 2em;
}

.srp  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.sry  {
font-size: small;
text-align: right;
}

.rni  {
font-size: x-small;
text-align: left;
}

.rnh  {
font-size: small;
text-align: center;
}

.rn  {
font-size: x-small;
text-align: justify;
text-indent: 1em;
}

.rvh  {
font-size: small;
text-align: center;
font-weight: bold;
}

.rv  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.rg  {
font-size: small;
text-align: right;
}

.rghl  {
font-size: x-large;
text-align: center;
font-weight: bold;
}

.rgbt  {
font-size: x-large;
text-align: center;
font-weight: bold;
}

.rgst  {
font-size: large;
text-align: center;
}

.rgrl  {
font-size: small;
text-align: center;
font-style: italic;
}

.rgau  {
font-size: x-large;
text-align: center;
}

.rgcon  {
font-size: medium;
text-align: center;
}

.rgtr  {
font-size: small;
text-align: center;
}

.rgimp  {
font-size: small;
text-align: center;
}

.rgcr  {
font-size: x-small;
text-align: left;
}

.rgdc  {
font-size: xx-small;
text-align: center;
font-style: italic;
}

.rgsi  {
font-size: x-small;
text-align: left;
}

.rgh1  {
font-size: medium; 
font-weight: bold; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.rgh2  {
font-size: medium; 
text-align: center;
margin-top: 2em;
margin-bottom: 1em;
}

.rgh3  {
font-size: medium; 
font-style: italic; 
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

.rgtx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.rgtx1  {
display: block; 
font-size: small;
text-align: justify;
}

.rgatx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.rgatx1  {
font-size: small;
text-align: justify;
}

.rgata  {
font-size: small;
text-align: left;
margin-left: 1em;
}

.rgatb  {
font-size: small;
text-align: left;
margin-left: 1em;
}

.rgati  {
font-size: small;
text-align: left;
margin-left: 1em;
}

.rgext  {
display: block;
font-size: x-small;
text-align: left;
text-indent: 1em;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

.rgextv  {
font-size: x-small;
text-align: left;
margin-left: 1em;
margin-right: 1em;
}

.rgnp  {
font-size: small;
text-indent: 1em;
margin-left: 1em;
}

.rgbp  {
font-size: small;
margin-left: 1em;
}

.rgnl  {
font-size: small;
margin-left: 1em;
}

.rgnsl  {
font-size: small;
margin-left: 2em;
}

.rgal  {
font-size: small;
margin-left: 1em;
}

.rgasl  {
font-size: small;
margin-left: 2em;
}

.rgbl  {
font-size: small;
margin-left: 1em;
}

.rgbsl  {
font-size: small;
margin-left: 2em;
}

.rgul  {
font-size: small;
margin-left: 1em;
}

.rgusl  {
font-size: small;
margin-left: 2em;
}

.rgck  {
font-size: small;
margin-left: 1em;
}

.rgcksl  {
font-size: small;
margin-left: 2em;
}

.rgq1  {
font-size: small;
text-align: justify;
}

.rgqs1  {
font-size: small;
text-align: right;
font-style: italic;
margin-bottom: 1em;
margin-right: 1em;
}

.rgq2  {
font-size: small;
text-align: justify;
}

.rgqs2  {
font-size: small;
text-align: right;
font-style: italic;
margin-bottom: 1em;
margin-right: 1em;
}

.rgq3  {
font-size: small;
text-align: justify;
}

.rgqs3  {
font-size: small;
text-align: right;
font-style: italic;
margin-bottom: 1em;
margin-right: 1em;
}

.rgglt  {
font-size: small;
text-align: left;
margin-right: 1em;
font-weight: bold;
}

.rgadd  {
font-size: small;
text-align: left;
}

.rgill  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.rgcap  {
font-size: x-small;
font-style: italic;
text-align: left;
margin-top: 1em;
margin-bottom: 1em;
}

.fst  {
font-size: x-large;
text-align: center;
font-weight: bold;
}

.fsst  {
font-size: large;
text-align: center;
}

.fstx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.fstx1  {
display: block; 
font-size: small;
text-align: justify;
}

.fsqh  {
font-size: small;
text-align: center;
font-style: italic;
margin-bottom: 1em;
}

.fsq  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.fsq1  {
font-size: small;
text-align: justify;
}

.fsqs  {
font-size: small;
text-align: right;
font-style: italic;
margin-bottom: 1em;
margin-right: 1em;
}

.porn  {
font-size: small;
text-align: center;
}

.porn2  {
font-size: x-small;
text-align: center;
}

.corn  {
font-size: small;
text-align: center;
}

.corn2  {
font-size: x-small;
text-align: center;
}

.w  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.wrhl  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.wrtx  {
font-size: small;
text-align: justify;
text-indent: 1em;
}

.ctag1  {
font-size: small;
text-align: center;
}

table
{
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:auto;
   	margin-right:auto;
   	font-size: small;
}


.l
{
	border-left: thin solid;
	padding:10px;
}

.r
{
	border-right: thin solid;
	padding:10px;
}

.t
{
	border-top: thin solid;
	padding:10px;
}

.b
{
	border-bottom: thin solid;
	padding:10px;
}

.x
{
	padding:10px;
}

.underline
{
           text-decoration: underline;
}

.ind-T-0 {
font-size: large;
text-align: center;
margin-bottom: 0.5em;
margin-top: 2em;
}

.ind-ST-0 {
font-size: medium;
text-align: center;
margin-bottom: 4px;
margin-top: 12px;
}

.indBT-ST-0 {
font-size: medium;
text-align: center;
margin-bottom: 4px;
margin-top: 12px;
}


.ind-T-1 {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
}

.indBT-T-1  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
}

.ind-ST-1  {
font-size: medium;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
}

.indBT-ST-1  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
}

.ind-tx-1 {
font-size: small;
text-align: justify;
text-indent: 1em;
margin-top: 1px;
margin-bottom: 1px;
}

.ind-tx1-1  {
font-size: small;
text-align: justify;
margin-top: 1px;
margin-bottom: 1px;
}

.ind-tx1-c-1  {
font-size: small;
text-align: center;
margin-top: 1px;
margin-bottom: 1px;
}







.ind-T-2 {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 10px;
}

.indBT-T-2  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 10px;
}

.ind-ST-2  {
font-size: medium;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 10px;
}

.indBT-ST-2  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 10px;
}

.ind-tx-2 {
font-size: small;
text-align: justify;
text-indent: 1em;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 10px;
}

.ind-tx1-2  {
font-size: small;
text-align: justify;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 10px;
}

.ind-tx1-c-2  {
font-size: small;
text-align: center;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 10px;
}





.ind-T-3 {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 20px;
}

.indBT-T-3  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 20px;
}

.ind-ST-3  {
font-size: medium;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 20px;
}

.indBT-ST-3  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 20px;
}

.ind-tx-3 {
font-size: small;
text-align: justify;
text-indent: 1em;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 20px;
}

.ind-tx1-3  {
font-size: small;
text-align: justify;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 20px;
}

.ind-tx1-c-3  {
font-size: small;
text-align: center;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 20px;
}





.ind-T-4 {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 30px;
}

.indBT-T-4  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 30px;
}

.ind-ST-4  {
font-size: medium;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 30px;
}

.indBT-ST-4  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 30px;
}

.ind-tx-4 {
font-size: small;
text-align: justify;
text-indent: 1em;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 30px;
}

.ind-tx1-4  {
font-size: small;
text-align: justify;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 30px;
}

.ind-tx1-c-4  {
font-size: small;
text-align: center;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 30px;
}



.ind-T-5 {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 40px;
}

.indBT-T-5  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 40px;
}

.ind-ST-5  {
font-size: medium;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 40px;
}

.indBT-ST-5  {
font-size: large;
text-align: center;
margin-bottom: 2px;
margin-top: 2px;
text-indent: 40px;
}

.ind-tx-5 {
font-size: small;
text-align: justify;
text-indent: 1em;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 40px;
}

.ind-tx1-5  {
font-size: small;
text-align: justify;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 40px;
}

.ind-tx1-c-5  {
font-size: small;
text-align: center;
margin-top: 1px;
margin-bottom: 1px;
text-indent: 40px;
}


.scri {
 font-family : 'Courier New';
}


.titlepageTitle {
    font-size: x-large;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.titlepageAuthor {
    font-size: large;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.liste {
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.lsl1  {
font-size: small;
margin-left: 3em;
text-indent: -1em;
}

.lsl2  {
font-size: small;
margin-left: 4em;
text-indent: -1em;
}

.lsl3  {
font-size: small;
margin-left: 5em;
text-indent: -1em;
}

.lsl4  {
font-size: small;
margin-left: 6em;
text-indent: -1em;
}

.lsl5  {
font-size: small;
margin-left: 7em;
text-indent: -1em;
}

.lsl6  {
font-size: small;
margin-left: 8em;
text-indent: -1em;
}

.lsl7  {
font-size: small;
margin-left: 9em;
text-indent: -1em;
}

.lsl8  {
font-size: small;
margin-left: 10em;
text-indent: -1em;
}

body {
margin-right: 25px;
}


.lh1 {
font-size: medium;
text-align: center;
margin-bottom: 1em;
margin-top: 0.5em;
}