.author {
    display: block;
    font-family: 黑体;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin: 1em 0 0;
    padding: 0
    }
.booksubname {
    display: block;
    font-family: 黑体;
    font-size: 1.83333em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 0.5em 0 0;
    padding: 0
    }
.booktitle {
    display: block;
    font-family: 黑体;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 0;
    padding: 0
    }
.calibre {
    display: block;
    font-family: 宋体;
    font-size: 1em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    display: block;
    margin: 0;
    padding: 0
    }
.calibre2 {
    margin: 0;
    padding: 0
    }
.center {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.content {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.contents {
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1em;
    line-height: 200%;
    text-align: justify;
    margin: 0;
    padding: 0
    }
.contenttitle {
    display: block;
    font-family: 黑体;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0
    }
.copyright {
    display: block;
    margin: 0 0 2em;
    padding: 0
    }
