.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    display: block;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 9em 0 0 2em
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 12pt 0 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_7 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_8 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_9 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_10 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_11 {
    height: 1024px;
    vertical-align: baseline;
    width: 768px
    }
.calibre_12 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_13 {
    height: 30px;
    vertical-align: baseline;
    width: 40px
    }
.calibre_14 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre_15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_16 {
    height: 414px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_17 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 7pt 0 0
    }
.calibre_18 {
    height: 350px;
    vertical-align: baseline;
    width: 540px
    }
.calibre_19 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre_20 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 8pt 0 0 2em
    }
.calibre1 {
    font-size: 0.75em
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre6 {
    color: #03C
    }
.calibre7 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre8 {
    color: #00AEEF
    }
.calibre9 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre10 {
    font-size: 1em;
    line-height: 1.2
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
