.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_1 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_2 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_3 {
    color: gray;
    display: block;
    height: 2px;
    text-indent: 34%;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre_4 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre_5 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0 0 0 2em
    }
.calibre_6 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0 2em
    }
.calibre_7 {
    display: block;
    height: 2em
    }
.calibre_8 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre_9 {
    display: list-item;
    margin-top: 8pt;
    text-align: justify;
    text-indent: 0
    }
.calibre_10 {
    display: block;
    margin: 7em 0 0 2em
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_12 {
    display: block;
    text-align: justify;
    margin: 13pt 0 0
    }
.calibre_13 {
    display: block;
    text-align: justify;
    margin: 0
    }
.calibre_14 {
    display: block;
    text-align: justify;
    margin: 1em 0 0
    }
.calibre_15 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0 2em
    }
.calibre_16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_17 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre_18 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre_19 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre1 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre2 {
    color: red
    }
.calibre3 {
    font-size: 0.75em
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre5 {
    color: mediumvioletred
    }
.calibre6 {
    color: deeppink
    }
.calibre7 {
    display: block
    }
.calibre8 {
    color: pink
    }
.calibre9 {
    font-size: 1.5em;
    line-height: 1.2
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
