.bqbt {
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    text-indent: 0;
    margin: 1em 0 0.5em
    }
.bqzz {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    word-wrap: break-word;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2
    }
.calibre2 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.mulu {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.mulu1 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    margin: 0.2em 0 0
    }
.normaltext {
    display: block;
    text-indent: 2em;
    margin: 0
    }
.normaltext1 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 0
    }
.normaltext2 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 10pt 0
    }
.normaltexta {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-indent: 0;
    margin: 0
    }
.normaltextb {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    margin: 5pt 0
    }
.normaltextc {
    display: block;
    text-indent: 0;
    margin: 0 0 0 0.5em
    }
.tpzz {
    height: auto;
    vertical-align: text-top;
    width: auto
    }
.tpzz1 {
    height: auto;
    line-height: 1.2;
    vertical-align: text-top;
    width: auto
    }
